/* reset rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* importing font family regular */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-size: 0.75rem;
}

/* custom properties */
:root {
  --white-color: #fff;
  --pink-color: #c271ff;
  --black-color: #071629;
  --light-black: rgba(7, 22, 41, 0.5);
  --font-family: "Source Sans Pro";
}

/* heping classes */
.button {
  font-weight: 600;
  font-size: 1rem;
  border: none;
  background-color: var(--pink-color);
  color: var(--white-color);
  padding: 1rem;
  box-shadow: 5px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  margin-top: 2rem;
}

/* hover state for the button */
.button:hover {
  cursor: pointer;
  background-color: #bd83e9;
}

/* body */
body {
  font-family: var(--font-family);
  min-height: 100vh;
  min-width: 100%;
  font-size: 1rem;
}

/* header */
.header-wrapper {
  background: url("/imgs/Object.png") no-repeat center/cover;
  width: 100%;
}

.intro-section,
header,
nav,
.learn-child-div {
  margin: 0 auto;
  padding: 20px;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* nav li */
nav li {
  list-style: none;
}

/* anchor links  */
nav li a {
  text-decoration: none;
  color: var(--white-color);
}
nav li a:hover {
  text-decoration: underline;
}

/* intro-text  */
.intro-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  margin-top: 5.5rem;
}

/* h1 */
.intro-section-text h1 {
  font-weight: 800;
  font-size: 7.5rem;
}

/* laughs */
.laughs {
  font-size: 1.12rem;
  font-weight: 700;
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

/* learn */
.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  margin-top: 7rem;
}

/* learn h2 */
.learn-h2 {
  margin: 1.5rem 0 5rem 0;
  font-size: 2rem;
  font-weight: 700;
}

/* learn-h2 span */
.learn-h2 .learn-span {
  color: var(--pink-color);
}

/* learn-child-div */
.learn-child-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 2rem;
}

/* learn-child-element */
.learn-child-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* learn-child-title */
.learn-child-title {
  font-size: 1.125rem;
  font-weight: 900;
  margin: 0.5rem 0;
}

/* description */
.description {
  font-style: italic;
  font-weight: 400;
  color: #f5f6f7a1;
}

/* bruce-img */
.bruce-img {
  border-radius: 50%;
}

/* second section(tutorial-section */
.tutorial-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--pink-color);
  color: var(--white-color);
  padding: 3rem 3rem;
  gap: 3rem;
  font-size: 1.375rem;
}

.tutorial-section-description {
  margin-top: -1rem;
}

/* laughing-img */
.laughing-img {
  margin-left: 23rem;
}

/* blockquote */
blockquote {
  font-weight: 400;
  margin-bottom: 0.7rem;
}

/* tutorial-section-h3 */
.tutorial-section h3 {
  margin-bottom: 0.7rem;
  font-weight: 700;
}

/* role */
.role {
  font-style: italic;
}

/* popular section(third section) */
.popular-tutorial-section {
  background-color: var(--white-color);
  color: var(--black-color);
  margin: 5rem 5rem;
  font-weight: 700;
}

/* popular-tutorial-section h2 */
.popular-tutorial-section h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* popular-tutorial-section h2 span */
.popular-tutorial-section h2 span {
  color: var(--pink-color);
  font-weight: 800;
}

/* popular-tutorial-container */
.popular-tutorial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* smiles-container */
.smiles-container {
  position: relative;
}

/* play */
.play {
  position: absolute;
  top: 9%;
  left: 30%;
}

/* smiles-content */
.smiles-content {
  margin: 1rem 1.5rem;
}

/* smiles-content h3 */
.smiles-content h3 {
  margin-bottom: 0.8rem;
}

/* smiles-desc */
.smiles-desc {
  color: var(--light-black);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* writer */
.writer {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  gap: 1rem;
}

/* writer-img*/
.writer-img {
  width: 50px;
}

/* writer-name, time and fa-star */
.writer-name,
.time,
.fa-star {
  color: var(--pink-color);
}

/* writer-name */
.writer-name {
  font-weight: 600;
  font-size: 14px;
}

/* .star-time, stars */
.star-time,
.stars {
  display: flex;
}

/* star-time */
.star-time {
  justify-content: space-between;
  align-items: center;
}

/* time */
.time {
  margin-right: 3.5rem;
}

/* membership section */
.membership-section {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 3rem 2rem;
  text-align: center;
}

/* membership section h2 */
.membership-section h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
}

/* membership section span*/
.membership-section h2 span {
  color: var(--pink-color);
  font-weight: 700;
}

/* membership container */
.membership-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 3rem 1rem 1rem 1rem;
}

/* membership-title, membership-desc */
.membership-title,
.membership-desc {
  margin-bottom: 1rem;
  line-height: 26px;
}

/* membership-title */
.membership-title {
  margin-top: 1rem;
}

/* membership-btn */
.membership-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

/* faq-section */
.faq-section {
  background-color: var(--white-color);
  padding: 3rem 3rem;
}

/* faq-section h2*/
.faq-section h2 {
  text-align: center;
  font-weight: 300;
  font-size: 3.75rem;
  margin-bottom: 2rem;
}

/* faq-container */
.faq-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
}

/* left */
.left {
  margin-left: 7rem;
}

/* faq-container h3 */
.faq-container h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 2rem 0;
}

/* faq-desc */
.faq-desc {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  color: var(--light-black);
  margin: 1rem 0;
}

/* footer container */
.footer-section {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 5rem 5rem;
}

/* footer container */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.fa-facebook-f,
.fa-instagram,
.fa-twitter {
  background-color: var(--white-color);
  padding: 0.7rem;
  width: 2rem;
  color: var(--black-color);
  border-radius: 50%;
}

/* footer paragraph */
.footer-paragraph {
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: -2.5rem;
  color: #f5f6f7a1;
}
